.visuallyHidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  
  border: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}