// @font-face {
//   font-family: "Open Sans";
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;

//   src: url("../fonts/opensans.woff2") format("woff2"),
//     url("../fonts/opensans.woff") format("woff");
// }

// @font-face {
//   font-family: "Open Sans";
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;

//   src: url("../fonts/opensanslight.woff2") format("woff2"),
//     url("../fonts/opensanslight.woff") format("woff");
// }

// @font-face {
//   font-family: "Open Sans";
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;

//   src: url("../fonts/opensansbold.woff2") format("woff2"),
//     url("../fonts/opensansbold.woff") format("woff");
// }

html, body {
  height: 100%;
}

body {
  // @include main_text;

  // color: $text_main_color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  // color: $text_main_color;
}

.main-wrap {
  margin: 0 auto;
  padding: 20px;
  max-width: 1040px;
  box-sizing: border-box;
}

h1 {
  color: red;
}
