h1 {
  color: rgb(255, 0, 0);
  background-color: #ffffff;
  opacity: 0.1;
}
/*  */
.fff {
  position: absolute;
  top: calc(0 + 8px);
  z-index: 1;
  display: block;
  width: 100px;
  font-family: 'Arial Black', serif;;

}

.defClass {
  color: #554445;
  font-size: 12Px;;
}
p {
  background-color: #fff444;
}

/*  */
.defClass {
  color: #000000;
}

@media {}

@charset {}
