h1 {
  color: rgb(255, 0, 0);
  background-color: #ffffff;
  opacity: 0.1;
}

p {

}
.fff{
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  width: 100px;
}

.defClass {
  color: #000000;
  font-size: 12px;
}