h1 {
  color: rgb(255, 0, 0);
  background-color: #ffffff;
  opacity: 0.1;
}
/*  */
.fff {
  position: absolute;
  top: calc(0px + 8px);
  z-index: 1;
  display: block;
  width: 100px;
  font-family: 'Arial Black', serif;;

}

.defClass {
  color: #000000;
  font-size: 12Px;;
}
p {

}

/*  */
.defClass {}
