$text-main-color: rgb(50, 50, 50);
$text-secondary-color: rgb(109, 109, 109);
$link-main-color: rgb(69, 1, 255);
$bg-white-color: rgb(255, 255, 255);
$bg-light-color: rgb(231, 231, 231);
$bg-dark-color: rgb(18, 16, 14);
$overlay-color: rgba(50, 50, 50, 0.3);
$primary-color: rgb(64, 196, 255);
$secondary-color: rgba(2, 88, 154, 0.747);
