$main-font: "Open Sans", "Arial", serif;

$mobile-width: 320px;
$tablet-width: 760px;
$desktop-width: 960px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$modal-base-width: 350px;

$button-main-padding: 8px 16px;
$button-main-radius: 5px;

$sidebar-desktop-width: 320px;
$sidebar-desktop-minimized-width: 50px;
