.react {
  background-color: tint-func($react-main-color, 30%);
}

.redux {
  background-color: tint-func($redux-main-color, 30%);
}

.router {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-left: $sidebar-desktop-width;

  transition: all 0.3s linear;

  &--full {
    padding-left: $sidebar-desktop-minimized-width;
  }

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }
}

.router__button {
  margin-right: 20px;
  padding: $button-main-padding;

  color: $text-main-color;

  border: 2px solid transparent;
  border-radius: $button-main-radius;
  outline: none;

  &:last-child {
    margin-right: 0;
  }

  &--react {
    border-color: $react-main-color;

    &:hover,
    &:focus {
      background-color: tint-func($react-main-color, 10%);
    }

    &:active {
      background-color: shade-func($react-main-color, 20%);
    }

    &--active {
      border-color: $react-main-color;
    }
  }

  &--redux {
    border-color: $redux-main-color;

    &:hover,
    &:focus {
      background-color: tint-func($redux-main-color, 10%);
    }

    &:active {
      background-color: shade-func($redux-main-color, 20%);
    }

    &--active {
      border-color: $redux-main-color;
    }
  }
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: $sidebar-desktop-width;

  transition: all 0.3s linear;

  &--full {
    padding-left: $sidebar-desktop-minimized-width;

    @media (max-width: $tablet-width) {
      padding-left: 0;
    }
  }

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }
}
