<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% if (htmlWebpackPlugin.options.inject === false)
      { %> <link rel="stylesheet" href="css/styles.css"> <% }
    %>
    <% if (htmlWebpackPlugin.files.favicon) { %>
      <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
    <% } %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <div id="root">

    </div>
</body>
<script src="js/index.js"></script>
</html>