.sec {
  position: relative;

  border-color: rgb(255, 0, 0);

  &::after {
    content: "";
    position: absolute;
    right: 0;

    width: 100px;
    height: 200px;

    background-image: url("~$images/decoration/react-logo.png");
  }
}
