@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: url("../assets/fonts/opensans.woff2") format("woff2"),
    url("../assets/fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;

  src: url("../assets/fonts/opensanslight.woff2") format("woff2"),
    url("../assets/fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src: url("../assets/fonts/opensansbold.woff2") format("woff2"),
    url("../assets/fonts/opensansbold.woff") format("woff");
}
