html {
  box-sizing: border-box;
  height: 100%;
}

body {
  @include main-text;
  @include reset-indents;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: $link-main-color;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    height: 100%;
    min-height: 100vh;
    overflow: visible;
  }
}
